<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>Welcome!</title>
</head>

<body>
    <div class="background">
        <img class="img-fluid" style="width: 100vw; height: 100vh; position: absolute; z-index: 0;"
            src="../static/Abstract Lines.png">
    </div>
    <div style="padding-top: 1.5rem; padding-left: 40rem;">
        <h2 style="color: rgb(224, 19, 19); position: absolute; z-index: 2;">L</h2>
        <br>
        <h2 style="color: white; position: absolute; z-index: 2;">.</h2>
        <br>
        <br>
        <h2 style="color: rgb(224, 19, 19); position: absolute; z-index: 2;">I</h2>
        <br>
        <h2 style="color: white; position: absolute; z-index: 2;">.</h2>
        <br>
        <br>
        <h2 style="color: rgb(224, 19, 19); position: absolute; z-index: 2;">N</h2>
        <br>
        <h2 style="color: white; position: absolute; z-index: 2;">.</h2>
        <br>
        <br>
        <h2 style="color: rgb(224, 19, 19); position: absolute; z-index: 2;">E</h2>
        <br>
        <h2 style="color: white; position: absolute; z-index: 2;">.</h2>
        <br>
        <br>
        <h2 style="color: rgb(224, 19, 19); position: absolute; z-index: 2;">S</h2>
    </div>
</body>

</html>